:root {
    --flare-primary-color: #37a4ff;
    --flare-primary-color-opacity: rgba(55, 164, 255, .2);
    --flare-primary-bg-color: white;
    --flare-primary-bg-color-2: #edf1ff;
    --flare-primary-text-color: #212529;

}